@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



.my-stack {

    background-color: aqua;
}

html{
  max-width: 800px;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
}

body{
  max-width: 300px; 
	margin: 0 auto !important; 
	float: none !important; 
  background-color: blueviolet;
}