/* Coolors Exported Palette - https://coolors.co/e6e9e7-2a8d82-437979-506f75-535b65 */

/* CSS HEX */
--platinum: #e6e9e7ff;
--celadon-green: #2a8d82ff;
--myrtle-green: #437979ff;
--deep-space-sparkle: #506f75ff;
--black-coral: #535b65ff;

/* CSS HSL */
--platinum: hsla(140, 6%, 91%, 1);
--celadon-green: hsla(173, 54%, 36%, 1);
--myrtle-green: hsla(180, 29%, 37%, 1);
--deep-space-sparkle: hsla(190, 19%, 39%, 1);
--black-coral: hsla(213, 10%, 36%, 1);

/* SCSS HEX */
$platinum: #e6e9e7ff;
$celadon-green: #2a8d82ff;
$myrtle-green: #437979ff;
$deep-space-sparkle: #506f75ff;
$black-coral: #535b65ff;

/* SCSS HSL */
$platinum: hsla(140, 6%, 91%, 1);
$celadon-green: hsla(173, 54%, 36%, 1);
$myrtle-green: hsla(180, 29%, 37%, 1);
$deep-space-sparkle: hsla(190, 19%, 39%, 1);
$black-coral: hsla(213, 10%, 36%, 1);

/* SCSS RGB */
$platinum: rgba(230, 233, 231, 1);
$celadon-green: rgba(42, 141, 130, 1);
$myrtle-green: rgba(67, 121, 121, 1);
$deep-space-sparkle: rgba(80, 111, 117, 1);
$black-coral: rgba(83, 91, 101, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);
$gradient-right: linear-gradient(90deg, #e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);
$gradient-bottom: linear-gradient(180deg, #e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);
$gradient-left: linear-gradient(270deg, #e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);
$gradient-top-right: linear-gradient(45deg, #e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);
$gradient-bottom-right: linear-gradient(135deg, #e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);
$gradient-top-left: linear-gradient(225deg, #e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);
$gradient-bottom-left: linear-gradient(315deg, #e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);
$gradient-radial: radial-gradient(#e6e9e7ff, #2a8d82ff, #437979ff, #506f75ff, #535b65ff);